{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
    <div class="heading">
        <h1 onClick='javascript:history.go(-1)' style="cursor:pointer;"><i class="fa fa-arrow-left" aria-hidden="true"></i></h1>
        <h1>Detailed Logs</h1>
    </div>
    
    <div id='all_logs_for_today' style=white-space:pre-wrap>
        {% if messages %}
        {% for message in messages %}
            <h4{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h4>
        {% endfor %}
    {% endif %}
        {{data}}
        
        <center><button onClick='javascript:history.go(-1)'>Go Back</button></center>
        </div>
</body>
</html>