{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{server}} | Access Monitort</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">

</head>
<body>
    <script>
        const unblock = (ip) => {
            document.getElementById('to_unblock').value = ip;
            document.getElementById('unblock').submit();
            // location.reload();
        }

        setTimeout(()=>{
            document.getElementById('msg').style.display='none'
        },5000)
    </script>
    <div class="heading-main">
        <a href="/access/{{server}}/"><p><i class="fa fa-arrow-left" aria-hidden="true"></i></p></a>
        <p>Blocked IP Addresses</p>
    </div>
    <div id="root">
    <div class='container'>
        {% if messages %}
        {% for message in messages %}
            <h4{% if message.tags %} class="{{ message.tags }}" id="msg" {% endif %}>{{ message }}</h4>
        {% endfor %}
    {% endif %}
        {% if data %}
        <table>
            <tr>
                <th>Blocked IP</th>
                <th>Unblock</th>
            </tr>
            {% for str in data %}
            <tr>
                <td>{{str}}</td>
                <td><button onclick='unblock("{{str}}")'>Unblock</button></td>
            </tr>
            {% endfor %}
            
        </table>
        {% else %}
        <h3>No IP in the Blacklist</h3>
        {% endif %}
    <!-- <button onClick='javascript:history.go(-1)'>Go Home</button> -->
    <a href="/access/{{server}}/"><button>Go Home</button></a>

    <form action="/unblockipfw/{{server}}/" method="post" id="unblock" style="display:none">
        <input type="text" name="ip" id="to_unblock">

    </form>
    </div>
</div>
</body>
</html>