{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{server}} | Access Monitor</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
    <!-- <link rel="stylesheet" href="../static/style.css" type="text/css"> -->
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">

</head>
<body>
    <script>
        setTimeout(()=>{
            document.getElementById('msg').style.display='none'
        },5000)
    </script>
    <div style='width:"100%"' id="root">
        <div class="header">
        <a href="/show_ipwise/{{server}}/"><p>View IP wise hits</p></a>
        <a href="/firewall/{{server}}/"><p>See all blocked IPs</p></a>
        <a href="/complete_logs/{{server}}/"><p>View Complete Log</p></a>
        <a href="/logout/"><p>Logout</p></a>
        </div>
    <div class='container'>
        <h1>Welcome to the Access Monitor for {{server}} Server</h1>
        <h2>Have a look at today's log</h2>
        {% if messages %}
        {% for message in messages %}
            <h4{% if message.tags %} class="{{ message.tags }}" id="msg" {% endif %}>{{ message }}</h4>
        {% endfor %}
    {% endif %}

        <!-- {/* <button id='toggle-btn' onClick={change}>View all logs</button> */}
        {/* <div style="display:none" id='all_log'>{{access_log|linebreaks}}</div> */}
        {/* <form action="show_custom" method="post"> */} -->
            <h2>Filters</h2>
            <form action=/show_custom/{{server}}/ method="post">
            <div style="display: flex; margin-left: 40%;"><input type="radio" name="filter" id="1" value="1"/><label htmlFor='1'>1 hr</label></div>
            <div style="display: flex; margin-left: 40%;"><input type="radio" name="filter" id="4" value="4"/><label htmlFor='4'>4 hrs</label> </div>
            <div style="display: flex; margin-left: 40%;"><input type="radio" name="filter" id="6" value="6"/><label htmlFor='6'>6 hrs</label></div>
            <div style="display: flex; margin-left: 40%;"><input type="radio" name="filter" id="8" value="8"/><label htmlFor='8'>8 hrs</label></div>
            <div style="display: flex; margin-left: 40%;"><input type="radio" name="filter" id="12" value="12" /><label htmlFor='12'>12 hrs</label></div>
            <div style="display: flex; margin-left: 40%;"><input type="radio" name="filter" id="24" value="24" /><label htmlFor='24'>24 hrs</label></div>
            <input type="submit" value="Get the Summary"/>

        </form> 
        <a href='/'><button >Go back to Server Selection</button></a>
    </div>
    </div>
</body>
</html>